<div class="row justify-content-md-center mt-5">
  <div class="col-6">
    <form [formGroup]="form">
      <div class="mb-3">
        <label class="form-label">Username:</label>
        <input name="username" [ngClass]="form.get('username')?.hasError('invalid') ? invalidInputClass : validInputClass" formControlName="username" autocomplete="new-username">
        <div class="invalid-feedback">
          {{
            form.get('username')?.hasError('invalid')
              ? form.get('username')?.getError('invalid')
              : ''
          }}
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password:</label>
        <input name="password" [ngClass]="form.get('password')?.hasError('invalid') ? invalidInputClass : validInputClass" formControlName="password" type="password" autocomplete="new-password">
        <div class="invalid-feedback">
          {{
            form.get('password')?.hasError('invalid')
              ? form.get('password')?.getError('invalid')
              : ''
          }}
        </div>
      </div>
      <button class="btn btn-primary"
              (click)="login()">Login</button>
    </form>
  </div>
</div>
