<div class="container mt-3">
  <div class="row">
    <div class="col-2">
      <button type="button" class="btn btn-light btn-xs" (click)="showInfo()">Back</button>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">

    <div class="col-6 right-border">
      <form [formGroup]="personalDataForm">
        <div class="mb-3">
          <label class="form-label">First name:</label>
          <input name="firstName" [ngClass]="personalDataForm.get('firstName')?.hasError('invalid') ? invalidInputClass : validInputClass" formControlName="firstName" autocomplete="new-firstName">
          <div class="invalid-feedback">
            {{
              personalDataForm.get('firstName')?.hasError('invalid')
                ? personalDataForm.get('firstName')?.getError('invalid')
                : ''
            }}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Last name:</label>
          <input name="lastName" [ngClass]="personalDataForm.get('lastName')?.hasError('invalid') ? invalidInputClass : validInputClass" formControlName="lastName" autocomplete="new-username">
          <div class="invalid-feedback">
            {{
              personalDataForm.get('lastName')?.hasError('invalid')
                ? personalDataForm.get('lastName')?.getError('invalid')
                : ''
            }}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Username:</label>
          <input name="username" [ngClass]="personalDataForm.get('username')?.hasError('invalid') ? invalidInputClass : validInputClass" formControlName="username" autocomplete="new-username">
          <div class="invalid-feedback">
            {{
              personalDataForm.get('username')?.hasError('invalid')
                ? personalDataForm.get('username')?.getError('invalid')
                : ''
            }}
          </div>
        </div>

        <button class="btn btn-primary" (click)="savePersonalData()">Save</button>
      </form>
    </div>

    <div class="col-6">
      <form [formGroup]="passwordForm">
        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input name="password" class="form-control" formControlName="password" type="password">
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm password:</label>
          <input name="confirm" class="form-control" formControlName="confirm" type="password">
        </div>

        <button class="btn btn-primary" (click)="savePassword()">Save</button>
      </form>
    </div>

  </div>
</div>
