<div class="comment-text" [innerHTML]="comment?.text"></div>
<div class="comment-info">Created by: {{comment?.fullName}} | Updated at: {{comment?.formattedDate}}</div>
<span class="comment-action" *ngIf="comment?.isDeleted !== true">
  <span class="pointer" (click)="showCommentForm(null, comment === null ? null : comment.id, comment === null ? null : comment.fullPath)">Reply</span>
</span>
<span class="comment-action" *ngIf="comment?.isAuthor === true && comment?.isDeleted !== true">
   | <span class="pointer" (click)="showCommentForm(comment, null, comment === null ? null : comment.fullPath)">Edit</span>
   | <span class="pointer" (click)="confirmDelete(comment)">Delete</span>
</span>
